* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  background-color: #ffb928;
}
@media (max-width: 576px) {
  nav {
    height: 50px;
  }
}
nav .hamburger {
  display: none;
}
@media (max-width: 576px) {
  nav .hamburger {
    display: flex;
  }
}
nav img {
  width: 150px;
  height: 100px;
}
@media (max-width: 576px) {
  nav img {
    height: 50px;
    width: 50px;
  }
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  padding-left: 20px;
}
@media (max-width: 576px) {
  nav ul li {
    display: none;
  }
}
nav ul li a {
  text-decoration: none;
}
nav ul li a:hover {
  color: orangered;
}
nav ul li a:active {
  color: green;
}
nav input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}
@media (max-width: 576px) {
  nav input {
    display: none;
  }
}

main {
  display: flex;
}
@media (max-width: 576px) {
  main {
    display: grid;
  }
}
main .left {
  width: 50vw;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  main .left {
    width: 100vw;
  }
}
main .left img {
  width: 100%;
  height: calc(100vh - 100px);
}
main .right {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 576px) {
  main .right {
    height: 50vh;
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
    padding: 0 30px;
    text-align: center;
  }
}

section {
  height: auto;
  width: auto;
  text-align: center;
  padding: 0 30px;
}
section h2 {
  text-align: center;
}
section p {
  text-align: justify;
}

article {
  width: auto;
  height: auto;
  padding: 30px;
}
article h2 {
  text-align: center;
}
article p {
  text-align: center;
  font-size: 16px;
}
article .card {
  width: 250px;
  box-shadow: 5px 5px 5px lightgrey;
  margin: 20px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
@media (max-width: 576px) {
  article .card {
    min-width: 300px;
  }
}
article .card i {
  padding: 15px;
  border-radius: 50%;
  background-color: lightblue;
}
article .card p {
  font-style: italic;
  font-size: 15px;
}
article .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  article .flex {
    display: grid;
  }
}

.contact {
  display: flex;
  height: 100vh;
  padding: 0;
}
.contact .left {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 576px) {
  .contact .left {
    width: 100vw;
  }
}
.contact .left form {
  box-shadow: 5px 5px 5px lightgrey;
  width: 350px;
  height: 400px;
}
.contact .left form .input {
  width: 300px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: none;
}
.contact .right {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(design.jpeg);
}
@media (max-width: 576px) {
  .contact .right {
    display: none;
  }
}
.contact textarea {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.contact button {
  width: 300px;
  border-radius: 10px;
  background-color: pink;
  padding: 10px;
  border: none;
  margin-top: 10px;
}

footer {
  height: 50px;
  width: auto;
  text-align: center;
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */